{#
 /**
  * @file
  * Contains theme representation of search result
  *
  * Available variables:
  *  - result - the search result \Drupal\google_appliance\SearchResults\Result
  */
#}
<div class="search-result__title"><a href="{{ result.getAbsoluteUrl }}">{{ result.getTitle }}</a></div>
<div class="search-result__snippet-info">{{ result.getSnippet }}</div>
