{#
 /**
  * @file
  * Contains theme representation of control bar
  *
  * Available variables:
  *  - results - the search results
  */
#}
<div class="google-appliance-results-control-bar clearfix">
    <div class="container-inline google-appliance-search-stats">
        {{ results.getStatistics }}
    </div>


    <div class="container-inline google-appliance-sort-headers">
        {% for sortLink in results.getSortLinks  %}
            <div class="google-appliance-sorter">{{ sortLink }}</div>
        {% endfor %}
    </div>
</div>
